body {
	font-family: 'Coda', cursive;
	background: blanchedalmond;

}

.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 50%;
	padding: 10px;
	justify-content: center;
	text-align: center;
	align-items: center;
}
#game{
	display:flex;
	justify-content: center;
	flex-wrap : wrap;
    object-fit: contain;
  }

#game div {
  border: 1px solid black;
  width: 20%;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
 
  background-image: url(./image/dark-chain-background.png);

}


.btn {
	border-radius: 1em;
	border: none;
	color: #fff;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	padding: 0.8em;
	cursor: pointer;
	background: #000;
	margin: 5px;
}

section {
	margin: 30px;
}
